.about {
  &-bg {
    background-image: url("../../images/about/top-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// 移动端
@media (max-width: 767.98px) {
  .about {
    &-bg {
      background-image: url("../../images/about/top-bg-m.jpg");
    }
  }
}
