@mixin point($direction, $distance, $type:960) {
  #{$direction}: calc(#{$distance} / #{$type} * 100%);
}

.home-animating {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  position: absolute;
  pointer-events: none;

  &-logo {
    width: 522px;
    height: 508px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -261px;
    margin-top: -254px;
    opacity: 0;

    img {
      position: absolute;
    }

    .ins_01 {
      right: 230px;
      top: 154px;
      width: 39px;
    }

    .ins_02 {
      left: 198px;
      top: 188px;
      width: 55px;
    }

    .ins_03 {
      right: 176px;
      top: 181px;
      width: 82px;
    }

    .ins_04 {
      left: 228px;
      bottom: 211px;
      width: 82px;
    }

    .ins_05 {
      left: 180px;
      bottom: 210px;
      width: 32px;
    }
  }

  &-explode {
    width: 100%;
    height: 100%;
    opacity: 0;

    img {
      position: absolute;
      transform: scale(.2);
    }

    .out_b1 {
      img {
        right: -100px;
        bottom: -100px;
      }

      .out_14 {
        bottom: auto;
        top: 300px;
      }
    }

    .out_b2 {
      img {
        left: -100px;
        bottom: -100px;
      }

      .out_04 {
        left: -60px;
        bottom: auto;
        top: 340px;
      }

      .out_26 {
        left: auto;
        right: 0;
      }
    }

    .out_b3 {
      img {
        right: -100px;
        top: -100px;
      }

      .out_17 {
        right: auto;
        left: 500px;
      }
    }

    .out_b4 {
      img {
        left: -100px;
        top: -100px;
      }

      .out_05 {
        left: 120px;
        top: -320px;
      }

      .out_13 {
        top: auto;
        bottom: 440px;
        left: 0;
      }
    }

    .out_21 {
      left: 50%;
      top: 50%;
      margin-top: -66.5px;
      margin-left: -598.5px;
      opacity: 0;
    }

    > div {
      width: 50%;
      height: 50%;
      float: left;
      position: relative;
    }
  }

  &.effect {
    .home-animating-logo {
      opacity: 1;
      transition: opacity .8s .1s ease-in;
      animation: animating-logo 2.6s .1s linear forwards;

      img {
        transition: all .8s 2.4s ease-in-out;
      }

      .ins_01 {
        right: 38px;
        top: 0;
        width: 71px;
      }

      .ins_02 {
        left: 0;
        top: 36px;
        width: 96px;
      }

      .ins_03 {
        right: 0;
        top: 237px;
        width: 148px;
      }

      .ins_04 {
        left: 167px;
        bottom: 0;
        width: 147px;
      }

      .ins_05 {
        left: 10px;
        bottom: 87px;
        width: 57px;
      }
    }

    .home-animating-explode {
      opacity: 1;
      transition: opacity .4s 2.6s ease-in;

      .out_21 {
        opacity: 1;
        transform: scale(1);
        transition: all .8s 3s ease-in;
      }

      > div {
        img {
          transform: scale(1);

          @each $index, $time in (1, .4s), (2, .5s), (3, .6s), (4, .5s), (5, .4s), (6, .5s) {
            &:nth-child(#{$index}) {
              transition: all #{$time} 2.8s linear;
            }
          }
        }

        .out_01 {
          @include point(left, 485);
          @include point(bottom, -40, 540);
        }

        .out_02 {
          @include point(right, 390);
          @include point(bottom, 110, 540);
        }

        .out_03 {
          @include point(right, 550);
          @include point(top, 260, 540);
        }

        .out_04 {
          @include point(left, -60);
          @include point(top, -180, 540);
        }

        .out_05 {
          @include point(left, -320);
          @include point(top, 200, 540);
        }

        .out_06 {
          @include point(left, 250);
          @include point(top, 240, 540);
        }

        .out_07 {
          @include point(right, 400);
          @include point(bottom, 230, 540);
        }

        .out_08 {
          @include point(left, 765);
          @include point(bottom, 44, 540);
        }

        .out_09 {
          @include point(right, 555);
          @include point(bottom, 196, 540);
        }

        .out_10 {
          @include point(left, 590);
          @include point(bottom, 260, 540);
        }

        .out_11 {
          @include point(right, 300);
          @include point(top, 190, 540);
        }

        .out_13 {
          @include point(left, 140);
          @include point(bottom, -40, 540);
        }

        .out_14 {
          @include point(right, 190);
          @include point(top, -20, 540);
        }

        .out_15 {
          @include point(right, 670);
          @include point(top, 30, 540);
        }

        .out_16 {
          @include point(left, 310);
          @include point(top, 305, 540);
        }

        .out_17 {
          @include point(left, -80);
          @include point(top, 180, 540);
        }

        .out_18 {
          @include point(left, -70);
          @include point(top, 136, 540);
        }

        .out_19 {
          @include point(right, 470);
          @include point(top, 170, 540);
        }

        .out_22 {
          @include point(right, 280);
          @include point(bottom, 140, 540);
        }

        .out_23 {
          @include point(left, 164);
          @include point(bottom, 66, 540);
        }

        .out_24 {
          @include point(right, 30);
          @include point(bottom, 140, 540);
        }

        .out_25 {
          @include point(left, 725);
          @include point(top, 220, 540);
        }

        .out_26 {
          @include point(right, -80);
          @include point(bottom, 160, 540);
        }
      }
    }
  }
}

@keyframes animating-logo {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  18% {
    transform: scale3d(1.03, 1.03, 1.03);
  }

  36% {
    transform: scale3d(.95, .95, .95);
  }

  54% {
    transform: scale3d(1, 1, 1);
  }

  72% {
    transform: scale3d(.85, .85, .85);
  }

  99.9% {
    opacity: 1;
  }

  100% {
    transform: scale3d(1.2, 1.2, 1.2);
    opacity: 0;
  }
}

.home-effect {
  .header,
  .home-jumbotron,
  .home-container,
  .footer {
    transition: opacity .6s ease-in;
    opacity: 0;
  }
}

.home-effect.show {
  .header,
  .home-jumbotron,
  .home-container,
  .footer {
    opacity: 1;
  }
}
