.btn {
  margin: 1rem auto;
  width: 150px;
  height: 38px;
  background-image: url("../../images/button-border.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 14px;
}
