.contact {
  &-bg {
    background-image: url("../../images/contact/top-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-container {
    padding: 6rem 0 8rem;
  }

  &-qrcode {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    color: rgba(#fff, .3);
    font-size: 14px;
  }
}

.address-panel {
  margin-top: 1.5rem;
  margin-left: 5rem;

  &-title {
    font-size: 18px;
  }

  &-intro {
    margin-top: 1.5rem;
    font-size: 14px;
    color: rgba(#fff, .3);

    &::after {
      display: block;
      clear: both;
      content: "";
    }

    dt {
      float: left;
      width: 45px;
      font-weight: normal;

      &::after {
        content: "：";
      }
    }

    dd {
      margin-left: 45px;
    }
  }
}

// 移动端
@media (max-width: 767.98px) {
  .contact {
    &-bg {
      background-image: url("../../images/contact/top-bg-m.jpg");
    }

    &-container {
      padding: 2rem 0 4rem;
    }

    &-qrcode {
      flex-direction: column;
      margin-top: 2rem;
    }
  }

  .address-panel {
    margin-top: 2.5rem;
    margin-left: 0;
    text-align: center;

    &-intro {
      dt {
        float: none;
        width: auto;

        &::after {
          display: none;
        }
      }

      dd {
        margin-left: 0;
        margin-top: .5rem;
      }
    }
  }
}
