.home-body {
  overflow: hidden;
}

.home-jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  pointer-events: none;

  &-content {
    text-align: center;
    background-color: transparent;
    opacity: 0;
    transform: scale(0);

    h1 {
      font-size: 46px;
      letter-spacing: 4px;
      font-weight: 100;
    }

    h4 {
      font-size: 30px;
      margin-top: 1.5rem;
      font-weight: 300;
    }

    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }

    &.animating-effect {
      opacity: 1;
      transform: scale(1);
      transition: all .8s ease-in;
    }

    &.show {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.home-container {
  display: none;
}

// 移动端
@media (max-width: 767.98px) {
  .home-jumbotron {
    position: static;
    height: calc(100vh - 7.5rem);

    &-content {
      h1 {
        font-size: 32px;
        line-height: 1.4;
      }

      h4 {
        margin-top: 1rem;
        font-size: 22px;
      }

      .desktop {
        display: none;
      }

      .mobile {
        display: block;
      }
    }
  }

  .home-container {
    display: block;
  }

  .explore {
    position: relative;
    margin: 3rem 0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 300;
    color: rgba(#fff, .3);

    &-line {
      position: absolute;
      left: 50%;
      top: -50px;
      width: 1px;
      height: 35px;
      background: #9d9fa9;
    }
  }

  .home-content {
    text-align: center;

    &-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 1.5rem 0;
      font-weight: 400;
      font-size: 14px;
      color: rgba(#fff, .3);

      &::before,
      &::after {
        content: "";
        width: 30px;
        height: 1px;
        background-color: rgba(#fff, .3);
      }

      &::before {
        margin-right: .75rem;
      }

      &::after {
        margin-left: .75rem;
      }
    }

    &-paragraph {
      margin: 1.5rem 1rem 0;
      font-size: 15px;
      line-height: 1.2;
      white-space: nowrap;

      p {
        margin-bottom: .5rem;
      }
    }

    hr {
      width: 3rem;
      margin: 1.5rem auto;
      border-top: 1px solid #35394e;
    }

    &-inner {
      margin: 1.5rem 1rem 1rem;

      &-title {
        font-size: 16px;
      }

      &-intro {
        margin-top: .75rem;
        font-size: 14px;
        color: rgba(#fff, .3);
      }
    }
  }

  .news-list {
    margin-top: 1rem;

    &-item {
      margin-bottom: 1.5rem;

      &-text {
        padding: 1rem 1.5rem;
        background: #000;
        color: rgba(#fff, .3);
        font-size: 14px;
        text-align: left;

        p {
          margin-bottom: .25rem;
        }
      }
    }
  }

  // swiper 样式
  .swiper-container {
    height: 210px;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: transparent;
    opacity: 1;
    border: 1px solid #393d51;

    &:focus {
      outline: none;
    }
  }

  .swiper-pagination-bullet-active {
    width: 23px;
    height: 23px;
    border: 1px solid transparent;
    background-image: url("../../images/home/border-circle.png");
    background-size: contain;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }

  .swiper-button-next, .swiper-button-prev {
    color: #fff;
    transform: scale(.6);
  }
}
