.home-bg {
  background: #090e27;
  background-size: contain;
  color: #fff;
}

.home-body {
  overflow: hidden;
}

.home-container {
  position: relative;
}

.jumbotron {
  margin: 2rem 0;
  text-align: center;
  background-color: transparent;

  h1 {
    font-size: 42px;
    letter-spacing: 4px;
    font-weight: 100;
  }

  h4 {
    font-size: 26px;
    margin-top: 1.5rem;
    font-weight: 300;
  }
}
