.list {
  &-item {
    margin-top: 1rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #1a3150;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  &-header {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .divider {
      width: 40px;
    }
  }

  &-section {
    margin: 1.75rem 0 3.125rem;
    color: rgba(#fff, .5);
    font-size: 14px;
    line-height: 2;
  }

  &-item-inner {
    margin: 3rem;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      display: flex;
      align-items: flex-end;
      position: relative;
      font-size: 18px;
      letter-spacing: 2px;
      white-space: nowrap;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: -1.5rem;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    &-intro {
      margin-top: 1.75rem;
      color: rgba(#fff, .5);
      font-size: 12px;
      line-height: 2;
    }

    &-divider {
      display: none;
    }
  }
}

// 移动端
@media (max-width: 767.98px) {
  .list {
    &-header {
      display: flex;
      flex-direction: row;
      color: rgba(#fff, .3);
      font-weight: 400;

      &::before,
      &::after {
        content: "";
        width: 30px;
        height: 1px;
        background-color: rgba(#fff, .3);
      }

      &::before {
        margin-right: .75rem;
      }

      &::after {
        margin-left: .75rem;
      }

      .divider {
        display: none;
      }
    }

    &-item {
      margin-top: 3rem;
      margin-bottom: 3rem;

      &:first-child {
        margin-top: 0;
      }
    }

    &-item-inner {
      margin: 1.5rem;

      &-title {
        font-size: 16px;
        justify-content: center;

        &::before {
          display: none;
        }
      }

      &-intro {
        margin-top: 1rem;
      }

      &-divider {
        display: block;
        margin: 1rem auto;
        height: 1px;
        width: 100px;
        background-color: #1a3150;
      }
    }
  }
}
