// 新闻详情
.news-detail {
  max-width: 1000px;
  padding: 0 20px;
  margin-top: 2rem;

  &-title {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5;

    &.sm {
      width: 720px;
    }
  }

  &-subtitle {
    margin-top: 2rem;
    text-align: center;
    font-size: 12px;
    color: rgba(#fff, .5);
  }

  &-content {
    margin-top: 2rem;
    padding: 3rem 0;
    border-top: 1px solid #221d41;
    border-bottom: 1px solid #221d41;
    font-size: 12px;
    color: rgba(#fff, .5);
  }

  &-paragraph {
    margin-bottom: 1.5rem;
    text-indent: 2em;
    line-height: 2;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-img {
    text-align: center;
    margin-top: 3rem;

    &-intro {
      margin-top: 1.5rem;
      font-size: 14px;
      color: #fff;
    }
  }

  &-paging {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 12px;
    color: rgba(#fff, .5);

    &-prev {
      display: flex;
      align-items: center;
      padding: .5rem 0;
      cursor: pointer;

      &::before {
        content: "";
        width: 15px;
        height: 11px;
        margin-right: .75rem;
        background: url("../../images/arrow-left.png");
      }

      &:hover::before {
        background: url("../../images/arrow-left-active.png");
      }
    }

    &-next {
      padding: .5rem 0;
      display: flex;
      align-items: center;
      cursor: pointer;

      &::after {
        content: "";
        width: 15px;
        height: 11px;
        margin-left: .75rem;
        background: url("../../images/arrow-right.png");
      }

      &:hover::after {
        background: url("../../images/arrow-right-active.png");
      }
    }

    &-text {
      width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
