.news {
  &-bg {
    background-image: url("../../images/news/top-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-list {
    margin-top: 1rem;

    .img-fluid {
      width: 100%;
    }
  }

  &-item {
    margin-bottom: 3rem;
  }

  &-content {
    position: relative;
    padding-left: 2rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: calc(100% - 2rem);
      border-bottom: 1px solid #0e1933;
    }

    &-top {
      display: inline-block;
      padding: 2px 8px;
      color: #fff;
      background: #f7b230;
      border-radius: 2px;
      font-size: 12px;

      + .news-list-title {
        margin-top: 1.25rem;
      }
    }

    &-title {
      margin-top: 2.5rem;
      font-size: 18px;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      letter-spacing: 1px;
    }

    &-subtitle {
      margin-top: 1rem;
      color: rgba(#fff, .5);
      font-size: 12px;
      transition: color 600ms cubic-bezier(.45, 0, .27, 1);
    }

    &-intro {
      margin-top: 1rem;
      color: rgba(#fff, .5);
      font-size: 12px;
      line-height: 2;
      transition: color 600ms cubic-bezier(.45, 0, .27, 1);
    }

    &-more {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      padding: 1rem 0;
      font-size: 12px;
      color: rgba(#fff, .5);
      cursor: pointer;
      transition: color 600ms cubic-bezier(.45, 0, .27, 1);

      &::after {
        content: "";
        width: 15px;
        height: 11px;
        margin-top: 3px;
        margin-left: 5px;
        background: url("../../images/arrow-right.png");
      }
    }

    &:hover {
      .news-list-subtitle, .news-list-intro {
        color: rgba(#fff, .8);
      }

      .news-list-more {
        color: #fff;

        &::after {
          background: url("../../images/arrow-right-active.png");
        }
      }
    }
  }

  &-paging {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: 14px;
    color: rgba(#fff, .5);

    &-prev {
      display: flex;
      padding: .5rem 0;
      cursor: pointer;
      color: rgba(#fff, .5);

      &::before {
        content: "";
        width: 15px;
        height: 11px;
        margin-top: 3.5px;
        margin-right: .75rem;
        background: url("../../images/arrow-left.png");
      }

      &:hover {
        color: #fff;

        &::before {
          background: url("../../images/arrow-left-active.png");
        }
      }
    }

    &-text {
      width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-next {
      padding: .5rem 0;
      display: flex;
      cursor: pointer;
      color: rgba(#fff, .5);

      &::after {
        content: "";
        width: 15px;
        height: 11px;
        margin-top: 3.5px;
        margin-left: .75rem;
        background: url("../../images/arrow-right.png");
      }

      &:hover {
        color: #fff;

        &::after {
          background: url("../../images/arrow-right-active.png");
        }
      }

      .news-paging-text {
        text-align: right;
      }
    }
  }
}

// 移动端
@media (max-width: 767.98px) {
  .news {
    &-bg {
      background-image: url("../../images/news/top-bg-m.jpg");
    }

    &-item {
      margin-bottom: 1.5rem;
    }

    &-content-more {
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      width: 120px;
      height: 30px;
      background-image: url("../../images/button-border.png");
      background-size: contain;
      background-repeat: no-repeat;

      &::after {
        display: none;
      }
    }
  }
}
